.progress
  = render_current_progress

.buttons
  = button_to_function t("query_generator.wizard.main_model.button_next"), %{if (jQuery("input[name=model]:checked").size() > 0) jQuery("#generated_query_main_model_form").submit()}

.clear