%tr
  %th.row-header= t("query_generator.wizard.conditions.rows.positions")
  - query_generator_session.used_columns.each do |qc|
    %td.center
      - unless qc == query_generator_session.used_columns.first
        = button_to_remote t("query_generator.wizard.conditions.move_left"), :url => decr_column_position_query_generator_generated_queries_path(:model => qc.model.to_s, :column => qc.column_name, :reload_content => true)
      - unless qc == query_generator_session.used_columns.last
        = button_to_remote t("query_generator.wizard.conditions.move_right"), :url => inc_column_position_query_generator_generated_queries_path(:model => qc.model.to_s, :column => qc.column_name, :reload_content => true)