.handle.ui-corner-all.ui-widget-header
  = model.human_name

%table
  %thead
    %tr
      %th.icon
      %th Column
  %tbody
    = render :partial => wizard_file(3, "model_column_row"), :collection => model.columns, :as => :column, :locals => {:model => model}