-# This partial is used to display an association row in the second wizard step.
-# It is in a partial to make adding associations dynamically easier
-# Locals needed:
-# model       -- The model the association belongs to
-# association -- The association name
-# end_point   -- The association's end point

%tr{:id => association_dom_id(model, association)}
  %td= human_model_name(end_point)
  %td
    = link_to_remote(association, :url => add_association_query_generator_generated_queries_path(:model => model.to_s, :association => association))
    =# association_quantity_icon(model, association)