%tr{:id => column_dom_id(model, column, :prefix => "step2"), :class => (query_generator_session.uses_column?(model, column) ? "active" : "")}
  %td.icon= column_symbol(model, column)
  %td
    = link_to_remote column.name, :url => toggle_table_column_query_generator_generated_queries_path(:model => model.to_s, :column => column.name), :method => :post