= t("query_generator.misc.unfinished_query")
= link_to t("query_generator.misc.unfinished_query_link"), query_generator_generated_query_wizard_path(:wizard_step => QueryGenerator::WIZARD_STEPS[query_generator_session.current_step - 1])