.progress
  = render :partial => "generated_sql", :locals => {:generated_query => query_generator_session.query}

.buttons
  = render :partial => "query_generator/generated_queries/wizard/step_links"

.clear