#graph
  - query_generator_session.used_models.each do |model|
    = render_wizard_partial 2, "model_node_wrapper", :model => model

  .clear

:javascript
  jQuery(document).ready(function() {
    queryGenerator.graph.createDraggables(".draggable");
    queryGenerator.graph.setModelBoxOffsets(#{@model_offsets.to_json});
    queryGenerator.graph.addConnections(#{@model_connections.to_json});
  })