.progress
  = render_current_progress

.buttons
  = link_to t("query_generator.wizard.associations.button_prev"), generated_query_wizard_path(:wizard_step => "main_model")
  = link_to t("query_generator.wizard.associations.button_next"), generated_query_wizard_path(:wizard_step => "columns")

.clear