= button_to_remote t("query_generator.wizard.columns.button_prev"), :url => choose_model_associations_generated_queries_path, :method => :get
= button_to_remote t("query_generator.wizard.columns.button_next"), :url => set_conditions_generated_queries_path, :method => :post, :with => "queryGenerator.wizard.getModelBoxOffsets()"