#step2_header.header
  = render :partial => "generated_queries/wizard_2a/header"

#graph.content
  = render :partial => "generated_queries/wizard_2a/query_graph"

#step2_buttons.buttons
  = render :partial => "generated_queries/wizard_2a/buttons"