= button_to_remote t("query_generator.wizard.associations.button_prev"), :url => load_previous_wizard_step_generated_queries_path(:current => 1), :method => :get
= button_to_remote t("query_generator.wizard.associations.button_next"), :url => choose_model_columns_generated_queries_path, :method => :get