.query-generator
  %table.records
    %thead
      %tr
        - @model.columns.each do |column|
          = column_header(column)
    %tbody
      - @records.each do |record|
        %tr[record]{:class => cycle("odd", "even")}
          - if ccan? :read, :record
            - @model.columns.each do |column|
              %td{:class => column.type}
                = attribute_string(record.attributes[column.name], :truncate_strings => true)
          - else
            %td{:colspan => @model.columns.size}= t("query_generator.errors.record_insufficient_permissions")

  = will_paginate @records, :renderer => QueryGenerator::Configuration.get(:pagination)[:remote_renderer], :remote => {}