%table
  %thead
    %tr
      - @generated_query.table_header_columns.each do |header|
        %th= header
  %tbody
    - @generated_query.execute.each do |row|
      %tr
        - row.each do |column|
          %td= column