#query_generator
  #flash
  #models
    #accordion
      - @dh.models.each do |model|
        - next unless ccan? :read, model
        %p= link_to_remote(model.human_name, :url => query_generator_add_model_path(:model => model.to_s))


  #visualisation
    #graph.canvas
      = render :partial => "query_graph"

:javascript
  queryGenerator.graph.init();
  queryGenerator.setNodes(#{@dh.linkage_graph.nodes.to_json});