#query-generator
  #query-generator-header= render :partial => "generated_queries/wizard_1/header"
  #query-generator-content= render :partial => "generated_queries/wizard_1/content"
  #query-generator-footer= render :partial => "generated_queries/wizard_1/footer"

  / Content for the model records preview dialog
  #model-records-preview{:style => "display: none"}

  .ajax-indicator{:style => "display: none"} Loading...

:javascript
  queryGenerator.init();

  //The remote function has to be created here as in some system the token might be submitted with every request
