#query-generator
  #step1.wizard
    = render :partial => "generated_queries/wizard_1/main_model"
  #step2.wizard{:style => "display: none"}
    = render :partial => "generated_queries/wizard_2a/associations"
  #step3.wizard{:style => "display: none"}

  / Content for the model records preview dialog
  #model-records-preview{:style => "display: none"}

  /Progress / Preview
  #progress= render :partial => "progress"

  .ajax-indicator{:style => "display: none"} Loading...

:javascript
  queryGenerator.init();