#query-generator
  #query-generator-header= render_wizard_partial(@wizard_step, "header")
  #query-generator-content= render_wizard_partial(@wizard_step, "content")
  #query-generator-footer= render_wizard_partial(@wizard_step, "footer")

  / Content for the model records preview dialog
  #model-records-preview{:style => "display: none"}

  .ajax-indicator{:style => "display: none"} Loading...

:javascript
  queryGenerator.init();

  //The remote function has to be created here as in some system the token might be submitted with every request
  queryGenerator.callbacks.dragStop = function(event, ui) {
    #{remote_function(:url => set_model_offset_generated_queries_path, :with => "queryGenerator.graph.getModelBoxOffset(ui)")}
  }