!!!
%html
  %head
    %title Rails Query Generator

    = stylesheet_link_tag "query_generator/query_generator"
    = stylesheet_link_tag "query_generator/jquery_ui_aristo"

    = javascript_include_tag "query_generator/jquery.min.js", "query_generator/jquery-ui.min.js",
                             "query_generator/jquery.jsPlumb-1.3.9-all-min",
                             "query_generator/query_generator", "query_generator/jquery.dataTables.min"

    :javascript
      $jQ = jQuery.noConflict();

  %body.query-generator-layout
    = yield