<html>
<head>
  <title>Rails Query Generator Demo Layout</title>

  <%= javascript_include_tag "jquery_plugins/moowheel/mootools-1.2-core-nc",
                             "jquery_plugins/moowheel/mootools-1.2-more",
                             "jquery_plugins/moowheel/excanvas",
                             "jquery_plugins/moowheel/canvastext",
                             "jquery_plugins/moowheel/moowheel" %>

  <script type="text/javascript">
    $moo = $; delete ($);
  </script>

  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js' %>

  <script type="text/javascript">
    $jQ = jQuery.noConflict();
  </script>

  <%= javascript_include_tag "jquery_plugins/graph_dracula/raphael-min",
                             "jquery_plugins/graph_dracula/dracula_graffle",
                             "jquery_plugins/graph_dracula/dracula_graph" %>

</head>



<body>
  <%= yield %>
</body>
</html>